platform: x64

clone_folder: C:\msys64\go\src\github.com\half2me\antgo

install:
  - C:\msys64\usr\bin\bash.exe -lc "cd /go/src/github.com/half2me/antgo && ./av.sh"
  - 7z a antgo-win64.zip C:\msys64\home\appveyor\antgo-win64.exe C:\msys64\mingw64\bin\libusb-1.0.dll

build: off

artifacts:
  - path: antgo-win64.zip
    name: binary

deploy:
  release: antgo-win64
  description: 'Antgo'
  provider: GitHub
  auth_token:
    secure: Aj+IX99Zm3sC+GBkE0eJxMV6k7jubTkpAkBYTgxjZNh5qgsmDAmLHZYadBq0a952
  artifact: binary # This is the name we specified in the artifacts section.
  draft: true
  prerelease: true
  on:
    branch: master